/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
.idea
.sbtserver
/project/.sbtserver.lock
/HelloPluginTest/target/
/HelloPluginTest/project/project/
/HelloPluginTest/project/target/
src/sbt-test/HelloPluginTest/target/
src/sbt-test/HelloPluginTest/project/project/
src/sbt-test/HelloPluginTest/project/target/
